<h1>登録レシピ編集画面</h1>
<div id="recipe-edit">
  <div class="grid">
    <div class="card">
      <% if @recipeTemplate.recipe_template_image.persisted? %>
        <%= cl_image_tag @recipeTemplate.recipe_template_image.key, :class => 'recipe-image', :id => 'DISP_GAZOU'   %>
      <% else %>
        <%= image_tag 'sample_xd_new_add_recipe.png', :class => 'recipe-image', :id => 'DISP_GAZOU'  %>
      <% end %>
      <%= form_for @recipeTemplate, url:regist_edit_recipe_path(@recipeTemplate) do |r| %>
        <table id="recipe-table">
          <tr>
            <th>レシピ画像</th>
            <td>
              <%= r.file_field :recipe_template_image, :id => 'GAZOU' %><br />
              <%= link_to "画像削除", image_recipe_delete_path(@recipeTemplate, target: 'recipe_template_image'), method: :delete, data: {confirm: '削除しますか？'} %>
            </td>
          </tr>
          <tr>
            <th>レシピ名</th>
            <td><%= r.text_field :recipe_name %></td>
          </tr>
        </table>

        ------------材料------------
        <table id="food-stuff-table">
          <%= r.fields_for :food_stuff_templates do |food|%>
            <%= render "food_stuff_template_fields", f: food %>
          <% end %>
        </table>
        <div class="addBtn"><%= link_to_add_fields "追加", r, :food_stuff_templates %></div>
        
        <%= r.submit "変更", :class => 'btn finish-btn'%>
      <% end %>
    </div>
  </div>
</div>