<h1>レシピ新規登録</h1>

<% if !@recipeTemplate.nil? %>
<ul>
<% @recipeTemplate.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>
<% end %>

<% if flash[:success] %>
<%= flash.now[:success] %>
<% end %>
<% if flash.now[:danger] %>
<%= flash.now[:danger] %>
<% end %>

<div id="recipe-new">
  <div class="grid">
    <div class="card">
      <div class="add"><%= image_tag 'sample_xd_new_add_recipe.png', :class => 'recipe-image', :id => 'DISP_GAZOU' %></div>
      <%= form_for @recipeTemplates, url: regist_new_recipe_path do |r| %>
        <table id="recipe-table">
          <tr>
            <th>レシピ画像</th>
            <% if @user_total_capacity < @user_limit_info['USER_LIMIT_CAPACITY']*1024*1024 %>
              <td><%= r.file_field :recipe_template_image, :id => 'GAZOU' %></td>
            <% else %>
              <td>利用容量を超えてます。既存の画像を削除して下さい。</td>
            <% end %>
          </tr>
          <tr>
            <th>レシピ名</th>
            <td><%= r.text_field :recipe_name %></td>
          </tr>
        </table>
          ------------材料------------
        <table id="food-stuff-table">
          <%= r.fields_for :food_stuff_templates do |food|%>
            <%= render "food_stuff_template_fields", f: food %>
          <% end %>
        </table>
        <div class="addBtn"><%= link_to_add_fields "追加", r, :food_stuff_templates %></div>
        <% if @regist_recipe <= @user_limit_info['USER_LIMIT_REGIST_RECIPE'] %>
          <%= r.submit "完了", :class => 'btn finish-btn'%>
        <% else %>
          <td>登録数を超えてます。既存のレシピを削除して下さい。</td>
        <% end %>
      <% end %>
    </div>
  </div>
</div>