<div class="page_name">
  <h2>登録レシピ</h2><i class="gg-coffee"></i>
</div>
<div id="catalog">
  <div class="grid">
    <div class="card">
      <div class="add"><%= image_tag '/img/recipe_new_add.png', :class => 'recipe-image' %>
        <%= link_to "レシピ新規追加", regist_new_recipe_path, :class => 'link', :'data-title' => 'テンプレートレシピ追加', :'data-intro' => 'クリックするとテンプレート用のレシピ追加画面が表示されます', :'data-step' => 'D1' %>
      </div>
    </div>
    <% @recipeTemplates.each do |r| %>
      <div class="card">
          <%= show_recipe_image(r) %>
          <%= r.recipe_name %>
          <%= link_to "編集", regist_edit_recipe_path(r.id), method: :get %>
          [コピー] 
          <%= link_to "削除", regist_delete_path(r.id), method: :delete, data: {confirm: '削除しますか？'} %>
      </div>
    <% end %>
  </div>
</div>