<div id="recipe-show">
  <div class="grid">
    <div class="card">
      <% if @recipe.recipe_image.persisted? %>
        <%= image_tag @recipe.recipe_image, :class => 'recipe-image' %>
      <% else %>
        <%= image_tag 'sample_xd_new_add_recipe.png', :class => 'recipe-image' %>
      <% end %>
      <%= @recipe.recipe_name %><br/>
      <%= l @recipe.cook_at, format: :yyyymmdd %><br/>
    
      <%= link_to '編集',edit_recipe_path(@recipe) %>
      <%= link_to "削除", recipe_path(@recipe), method: :delete, data: {confirm: '削除しますか？'} %>

      <br/>
      <table>
        <% @recipe.food_stuffs.each do |food| %>
          <tr>
            <th><%= food.food_stuff %></th>
            <td><%= food.amount %><%= food.mass %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>
