<div id="recipe-show">
  <div class="grid">
    <div class="card">
      <%= show_recipe_image(@recipe) %>
      <%= @recipe.recipe_name %><br/>
      <%= l @recipe.cook_at, format: :yyyymmdd %><br/>
    
      <%= link_to '編集', edit_recipe_path(@recipe), :'data-title' => 'レシピ編集', :'data-intro' => 'レシピの内容を編集できます', :'data-step' => 'I1' %>
      <%= link_to "削除", recipe_path(@recipe), method: :delete, data: {confirm: '削除しますか？'}, :'data-title' => 'レシピ削除', :'data-intro' => 'レシピを削除します', :'data-step' => 'I2' %>

      <br/>
      <table>
        <% @recipe.food_stuffs.each do |food| %>
          <tr>
            <th><%= food.food_stuff %></th>
            <td><%= food.amount %><%= food.mass %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
