<h1>パスワード変更画面</h1>

<ul>
<% @user.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>

<% if flash[:success] %>
<%= flash.now[:success] %>
<% end %>
<% if flash.now[:danger] %>
<%= flash.now[:danger] %>
<% end %>

<div id="users">
  <div class="contents-wrapp">
    <%= form_for(@user, url: edit_pw_path) do |f| %>
      <div class="input-form">
        <%= f.password_field :password, :placeholder => '新しいパスワード', :class => 'input-field', :maxlength => 255 %>
        <%= f.submit "変更", :class => 'btn create-btn' %>
      </div>
    <% end %>
  </div>
</div>