<header class="header">
<% if @header_show != false %>
  <h1 class="logo">
  <a href="/">
    <img class="logo_img" src="/img/logo.png" alt="ロゴの名前" style="width: 50%; height: 2%;">
  </a>
  </h1>
  <% if logged_in? %>
      <%= render 'layouts/notification/notification' %>
      <div class="header-inner">
        <!--
        <%= link_to "Home", recipes_path, class: 'header-button home-button' %>
        <div class="logo">
          <div><%= @menu_page_title %></div>
        </div>
        -->
        <nav class="header-nav">
          <div class="header-nav-item">
            <button type="button" class="menu-btn pos1" id="menu-btn_humberger">
              <i class="fa fa-bars" aria-hidden="true" data-intro="メニューを開いてアカウント情報を確認できます" data-step="A4"></i>
            </button>
            <button type="button" class="menu-btn pos2" id="menu-btn_help" data-intro="機能などの使い方を説明します" data-step="A6">
              <i class="fa-solid fa-question"></i>
            </button>
            <div class="menu">
              <% if get_user_plan == 0 %>
              管理者モード
              <% end %>
              <div class="menu__item"><%= link_to "ユーザー情報", edit_users_path, class: 'header-button home-button' %></div>
              <div class="menu__item"><%= link_to "Log out", logout_path, method: :delete, class: 'header-button logout-button' %></div>
            </div>
          </div>
        </nav>
      </div>
  <% end %>
<% end %>
</header>