<!DOCTYPE html>
<html>
  <head>
    <title>BugsCookthings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'mainjs', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 shrink-to-fit=no">
  </head>
  <body>
    <%= render 'layouts/err_msg' %>
    <%= render 'layouts/bg_img' %>
    <%= render 'layouts/notification/notification' %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= javascript_pack_tag 'humberger', 'data-turbolinks-track': 'reload' %>
  </body>
</html>